.dark-body {
  background-color: var(--black);

  .page-wrapper {
    background-color: var(--black) !important;
  }

  .btn--primary {
    &::before {
      background-color: var(--white);
    }
    &:hover {
      color: var(--base-color);
    }
  }

  .section__content,
  .section__header {
    span {
      color: var(--primary-color) !important;
    }
    h2,
    p {
      color: var(--white);
    }
  }

  .about,
  .service,
  .counter {
    background-color: var(--black);
  }

  .about__content {
    p,
    span,
    h2,
    li {
      color: var(--white);
    }
  }

  .about {
    .about__content-review__signature {
      img {
        filter: brightness(0) saturate(100%) invert(100%) sepia(18%)
          saturate(2562%) hue-rotate(226deg) brightness(109%) contrast(101%);
      }
    }
  }

  .service {
    &::after {
      content: none;
    }
    .cloud {
      display: none;
    }
    .service__single {
      background-color: #222222;
      &::before {
        border-color: #222222;
      }

      p,
      a {
        color: var(--white);
      }
    }

    .service__single-active {
      background-color: var(--base-color);
    }
  }

  .counter {
    .counter__inner {
      background-color: #222222;
      border-color: #222222;
    }

    .counter__single {
      h3,
      .prefix,
      p {
        color: var(--white);
      }
    }
  }

  .shape-top,
  .shape-bottom {
    background-color: black;
  }

  .featured-servcies {
    background-color: var(--black);

    .featured-services-tab-single {
      background-color: #222222;

      .tab-single__icon {
        background-color: #222222;
      }
      i,
      h5,
      p {
        color: var(--white);
      }
    }
  }

  .team {
    background-color: var(--black);
    .team__single-thumb {
      border: 3px solid #222222;
      background-color: #222222;
    }

    h4,
    p {
      color: var(--white);
    }
  }

  .priority {
    background-color: #222222;

    .priority__content-single-thumb {
      background-color: var(--black);
    }

    h5 {
      color: var(--white);
    }

    p {
      color: #dfb9b9;
      margin-top: 8px;
    }
  }

  .partner {
    background-color: var(--black);
  }

  .portfolio {
    &::before {
      top: -2px;
      height: 101%;
    }
  }

  .testimonial {
    background-color: var(--black);
    .cloud {
      display: none;
    }

    .testimonial__inner-wrapper {
      background-color: #222222;
      p,
      h4 {
        color: var(--white);
      }
    }
  }

  .blog {
    background-color: var(--black);

    .blog__single-content {
      &::before {
        background-color: #222222;
      }
      a {
        color: var(--white);
      }
    }
  }

  .service-two {
    background-color: var(--black);

    .service__single {
      background-color: #222222;
      border-color: #222222;

      .service__single-icon {
        background-color: var(--black);
      }
      a,
      p {
        color: var(--white);
      }
      .service__single-cta {
        a {
          background-color: var(--black);
        }
      }
    }
  }

  .about-two {
    background-color: #222222;

    .about__content-group {
      background-color: var(--black);
    }

    .about-two__content {
      p,
      li,
      a {
        color: var(--white);
      }
    }

    .about__content-cta {
      .btn--primary {
        &:hover {
          color: var(--black);
        }
      }
    }
  }

  .portfolio-two {
    background-color: var(--black);
  }

  .testimonial-two {
    background-color: #222222;
    background-image: none !important;

    .about__content-review__counter {
      h3,
      p {
        color: var(--white);
      }
    }

    .testimonial-two__single {
      background-color: var(--black);
      .cloud {
        display: none;
      }

      h6,
      p {
        color: var(--white);
      }
    }

    .testimonial-two__single-intro {
      background-color: #222222;
    }
  }

  .pricing {
    .house {
      display: none;
    }

    .pricing__content-single {
      background-color: #222222;
      h2,
      li {
        color: var(--white);
      }
    }
  }

  .blog-two {
    background-color: var(--black);
    .blog__single-content {
      &::before {
        background-color: #222222;
      }
      a {
        color: var(--white);
      }
    }

    .bubble-blog {
      .bubble {
        background-color: #ffffff30;
      }
    }
  }

  .about-three {
    .about-three__content-group {
      background-color: #222222;
      li {
        color: var(--white);
      }
    }

    .contact-btn {
      .stroke-base {
        stroke: var(--white);
      }

      p,
      a {
        color: var(--white);
      }
    }
  }

  .counter-two {
    &::after {
      background-color: var(--black);
    }
  }

  .service-three {
    background-color: var(--black);
  }

  .faq {
    background-color: var(--black);

    .accordion-item {
      background-color: #222222;
      .accordion-button,
      p {
        color: var(--white);
      }

      .accordion-button:not(.collapsed) {
        color: var(--white);
        &::before {
          background-color: var(--white);
        }
        &::after {
          color: var(--black);
        }
      }
    }
  }

  .team-two {
    background-image: none !important;
    background-color: var(--black);

    h5 {
      color: var(--white) !important;
    }

    .team__single-img::after {
      background-color: #222222;
    }

    .shape-bottom {
      display: none;
    }
  }

  .blog-two-alter {
    padding-top: 0px !important;
  }

  .priority-two {
    padding-top: 120px !important;
    p {
      color: var(--white);
    }
  }

  .featured-service-two--light {
    background-color: var(--black);
  }

  .service-details {
    .service-group {
      h3,
      h4,
      strong,
      li,
      p {
        color: var(--white) !important;
      }
    }

    .service__sidebar-tab a {
      background-color: #222222;
      color: var(--white);
    }

    .service-details__faq {
      h4 {
        color: var(--white);
      }

      .accordion-item {
        background-color: #222222;
        .accordion-button,
        p {
          color: var(--white);
        }

        .accordion-button:not(.collapsed) {
          color: var(--white);
          &::before {
            background-color: var(--white);
          }
          &::after {
            color: var(--black);
          }
        }
      }
    }
  }

  .project-details {
    .project-group {
      h5,
      h4,
      strong,
      li,
      p {
        color: var(--white) !important;
      }
    }

    .project-details__info {
      span,
      li {
        color: var(--white) !important;
      }
    }
  }

  .error-section {
    .title-animation,
    .text,
    a {
      color: var(--white);
    }
  }

  .blog__sidebar-widget {
    border-color: #222222;
    h5,
    p,
    li,
    a {
      color: var(--white);
    }

    .widget-tags {
      a {
        color: var(--black);
      }
    }
  }

  .blog__sidebar-widget .search-group input {
    background-color: #222222;
    color: var(--white);
    border-color: #222222;
  }

  .blog {
    .bubble-blog {
      .bubble {
        background-color: #ffffff30;
      }
    }
  }

  .blog-details .details__content-wrapper {
    background-color: #222222;
    p {
      color: var(--white);
    }

    .details-footer {
      h6,
      a {
        color: var(--white);
      }
    }
  }

  .blog__sidebar-widget-box .widget-box__cta a {
    color: var(--black);
  }

  .blog-details {
    .details-comment {
      h4 {
        color: var(--white);
      }
    }

    .reply-box-single {
      &::after {
        background-color: #222222;
      }

      h6,
      p {
        color: var(--white) !important;
      }

      .reply-btn {
        background-color: var(--white);
        color: var(--black);
        border-color: var(--white);
      }
    }

    .details-comment-form {
      border-color: #222222;
      h4 {
        color: var(--white);
      }

      input,
      textarea {
        background-color: #222222;
        color: var(--white);
        &:focus {
          border-color: var(--white);
        }
      }
    }
  }

  .contact {
    .contact__form {
      input,
      textarea {
        background-color: #222222;
        color: var(--white);
        border-color: #222222;
        &:focus {
          border-color: var(--white);
        }
      }
    }

    .contact__content {
      .topbar__item-single {
        background-color: #222222;
        border-color: #222222;
        span,
        p,
        a {
          color: var(--white);
        }

        .stroke-base {
          stroke: var(--white);
        }

        .fill-base {
          fill: var(--white);
        }
      }
    }
  }

  .privacy {
    background-color: var(--black);
    h3,
    p {
      color: var(--white) !important;
    }
  }
}
