@import "./abstracts/mixins";

@media only screen and (min-width: 500px) {
  // footer
  .footer,
  .footer-three {
    .footer__newsletter-inner {
      padding: 80px;
    }
  }
}

@media only screen and (min-width: 425px) {
  .featured-servcies {
    .featured-services-tab-single {
      flex-direction: row;
      border-radius: 75px 10px 10px 75px;
      &::before {
        border-radius: 75px 10px 10px 75px;
      }
      .tab-single__content {
        text-align: start;
      }
    }
  }

  .priority {
    .priority__content-single {
      flex-direction: row;
      align-items: center;
    }
  }
}

@media only screen and (min-width: 576px) {
  .container {
    max-width: 540px;
  }

  .progress-wrap {
    right: 30px;
    bottom: 30px;
  }

  .color-palate {
    .color-trigger,
    .close-color-trigger {
      width: 50px;
      height: 50px;
    }

    .color-trigger i {
      font-size: 20px;
    }

    .close-color-trigger i {
      font-size: 24px;
    }
  }

  // about
  .about {
    .about__thumb-sm {
      width: auto;
    }

    .about__thumb-big {
      .video-btn-wrapper {
        left: 68%;
      }
    }

    .about__content-inner {
      ul {
        li {
          width: calc(50% - 8px);
          font-size: 20px;
        }
      }
    }
  }

  .about-two {
    .about__content-inner {
      ul {
        li {
          width: calc(50% - 8px);
          font-size: 20px;
        }
      }
    }

    .about__content-cta {
      margin-top: 0px;
      .btn--primary {
        margin-top: 60px;
      }
    }

    .gutter-40 {
      row-gap: 60px;
    }

    .about-two__thumb-inner {
      min-width: 800px;
    }

    .video-btn-wrapper {
      top: 71%;
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-55%, -45%);
        width: 250px;
        height: 250px;
        border-radius: 50%;
        background-color: var(--primary-color);
      }
      a {
        width: 200px;
        height: 200px;
        i {
          font-size: 40px;
        }
      }
    }

    .about__content-group {
      padding: 16px;
      .vector-shape {
        position: absolute;
        top: -8px;
        left: 0px;
        bottom: 0px;
        z-index: -1;
        height: 110%;
        object-fit: contain;
        display: block;
      }
      svg {
        fill: white;
      }
      .group-inner {
        display: flex;
        align-items: flex-end;
        flex-direction: row;
        gap: 32px;
        p {
          margin-top: 20px;
        }
      }

      span {
        margin-top: -8px;
        margin-bottom: 0px;
      }
    }
  }

  .blog-pagination {
    gap: 20px;
    button,
    a {
      @include box(50px);
      border-radius: 0px;
    }
  }

  .blog__sidebar-widget {
    padding: 60px 40px;
    &:nth-of-type(1) {
      padding: 40px;
    }
    .single-item {
      flex-direction: row !important;
      align-items: center;
    }
  }

  .blog__sidebar-widget-box {
    padding: 80px 40px;
  }

  .blog-details {
    .details__content-wrapper {
      padding: 120px 40px 40px;
    }

    .details__content-thumb {
      flex-direction: row;
      img {
        width: calc(50% - 15px);
      }
    }

    .details-comment {
      .reply-box-single {
        padding: 35px 40px 35px 40px;
        display: flex;
        flex-direction: row;
        align-items: center;
      }
    }

    .blockquote-wrapper {
      padding: 40px 40px 60px;

      blockquote {
        font-size: 18px;
      }
    }

    .details-footer {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    .details-comment-form {
      padding: 60px 40px;
    }
  }

  // featured services
  .featured-servcies {
    .tab-content__inner {
      padding: 40px;
    }
  }

  .testimonial {
    .testimonial__inner {
      padding-right: 60px;
      &::before {
        content: "";
      }
    }
    .testimonial__inner-wrapper {
      padding: 80px 40px;
      border-radius: 15px 180.5px 15px 15px;
    }
    p {
      font-size: 20px;
    }

    .slider-navigation {
      left: 40px;
    }
  }

  .testimonial-two {
    .testimonial-two__single {
      padding: 40px;
    }
    .testimonial-two__single-intro {
      border-radius: 50px 20px 50px 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
      padding: 0px;
      padding-right: 24px;
      text-align: start;
    }

    .left-intro {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: row;

      .thumb {
        @include box(100px);
        border: 3px solid var(--white);
        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }
      }
    }
  }

  .service-three {
    .feature-service__inner {
      flex-direction: row;
      align-items: center;
    }

    .thumb {
      width: auto;
      a {
        border-radius: 15px 0px 0px 15px;

        img {
          border-radius: 15px 0px 0px 15px;
        }
      }
    }
  }

  .service-details {
    .accordion-item {
      padding: 20px 30px;
    }
  }

  .faq {
    .accordion-item {
      padding: 20px 30px;
    }
  }

  .contact {
    .topbar__item {
      .topbar__item-single {
        padding: 30px 40px;
      }
    }
  }

  .footer,
  .footer-three {
    .footer__copyright {
      padding: 15px 0px;
    }
    .footer__bottom-left {
      li {
        &:nth-of-type(2),
        &:nth-of-type(4) {
          display: block;
        }
      }
    }
  }

  .footer-three {
    .footer__copyright {
      padding: 20px 0px;
    }
    .footer__content {
      form {
        flex-direction: row;
        align-items: center;
        padding: 0px;
        input {
          padding-left: 16px;
        }

        button {
          border-top-left-radius: 0px;
          border-bottom-left-radius: 0px;
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }

  h1 {
    font-size: 50px;
    line-height: 60px;
  }

  h2 {
    font-size: 36px;
    line-height: 46px;
  }

  h3 {
    font-size: 30px;
    line-height: 40px;
  }

  h4 {
    font-size: 24px;
    line-height: 34px;
  }

  h5 {
    font-size: 24px;
    line-height: 34px;
  }

  h6 {
    font-size: 20px;
    line-height: 30px;
  }

  .banner-two {
    .banner-two__content {
      padding-top: 60px;
      padding-bottom: 60px;
    }

    .banner-two__single {
      span {
        font-size: 24px;
      }

      p {
        font-size: 20px;
      }
    }
  }

  .portfolio {
    .portfolio__single-content {
      padding: 40px;
    }

    .portfolio__single-content {
      .right-cta {
        a {
          @include box(50px);
        }
      }
    }
  }

  .input-group {
    flex-direction: row;
    .input-single {
      width: calc(50% - 15px);
    }
  }

  // footer
  .footer {
    .footer__newsletter-inner {
      form {
        flex-direction: row;
        align-items: center;
      }
    }
  }

  .footer-two {
    .topbar__item {
      padding: 40px 60px;
    }

    .topbar__item-single {
      gap: 20px;
      svg {
        width: 60px;
        height: 60px;
      }
    }
  }
}

@media only screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }

  .common-banner {
    padding: 160px 0px 155px;
  }

  .banner {
    .banner-left-shape {
      max-width: 300px;
      img {
        display: block;
      }
    }
    .banner-two__single {
      text-align: end;
    }
    .banner-two-navigation {
      justify-content: flex-start;
    }
    .banner-half-shape {
      width: 70%;
      background-color: transparent;
      img {
        display: block;
      }
    }
  }

  .banner-two {
    .banner-two-navigation {
      position: absolute;
      top: 50%;
      right: 100px;
      transform: translateY(-50%);
      flex-direction: column;
      button {
        font-size: 40px;
        color: var(--white);
        &:nth-last-of-type(1) {
          i {
            transform: rotate(180deg);
          }
        }
      }
    }

    .banner-two__content {
      padding-top: 140px;
      padding-bottom: 140px;
      &::before {
        top: 0px;
        height: 100%;
      }
    }
  }

  .about,
  .counter,
  .featured-servcies,
  .team,
  .priority,
  .banner-two,
  .service-two,
  .about-two,
  .featured-service-two,
  .portfolio-two,
  .testimonial-two,
  .blog-two,
  .team-two,
  .project-details,
  .service-details,
  .contact {
    padding: 120px 0px;
  }

  .faq__content {
    padding-bottom: 120px;
  }

  .faq-two,
  .contact-map {
    padding-top: 120px;
  }

  .contact-map {
    .map-inner {
      iframe {
        max-height: 800px;
      }
    }
  }

  .pricing-two {
    padding-bottom: 120px;
  }

  .portfolio-two-main {
    .portfolio__single-content {
      img {
        bottom: -12px;
        min-height: 156px;
      }
    }
  }

  .banner-three {
    padding: 220px 0px;
  }

  .portfolio,
  .pricing,
  .about-three,
  .counter-two,
  .service-navigation {
    padding-top: 120px;
  }

  .partner {
    padding-top: 210px;
  }

  .blog-two {
    .blog__single-alt {
      .tag {
        padding: 20px 30px;
        top: -35px;
        margin-bottom: -35px;
        a,
        p {
          font-size: 18px;
          i {
            font-size: 20px;
          }
        }
      }
    }

    .partner {
      padding-top: 120px;
    }
  }

  .service-two {
    .partner {
      padding-top: 120px;
    }
  }

  .testimonial {
    padding-top: 120px;

    .slider-navigation {
      position: absolute;
      bottom: 109px;
      right: 100px;
      left: unset;
      z-index: 2;
    }
    .testimonial__cta {
      margin-bottom: 0px;
    }
  }

  .testimonial-two {
    .testimonial__intro {
      justify-content: flex-end;
    }
  }

  .blog {
    padding: 100px 0px 120px;
  }

  .footer .footer__content {
    padding: 120px 0px;
  }

  .team-two-main {
    padding-bottom: 246px;
  }

  .footer-three {
    .footer__content {
      padding-top: 120px;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }

  h1 {
    font-size: 80px;
    line-height: 90px;
  }

  h2 {
    font-size: 48px;
    line-height: 58px;
  }

  h3 {
    font-size: 36px;
    line-height: 46px;
  }

  h4 {
    font-size: 30px;
    line-height: 40px;
  }

  .section__header {
    span {
      font-size: 20px;
    }
  }

  .header-one {
    background: none;
    box-shadow: none;
    top: 60px;
  }

  .header {
    .header__nav {
      padding: 0px;
    }
    .header__nav-content {
      background: linear-gradient(180deg, #040085 0%, #01001f 98.75%);
      box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
      padding-left: 9px;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        left: 100%;
        top: 0px;
        bottom: 0px;
        width: 200%;
        background: linear-gradient(180deg, #040085 0%, #01001f 98.75%);
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
      }

      .navbar__item {
        a {
          transition: color 0.5s linear;
        }
      }
    }
  }

  .header-two {
    box-shadow: none;
    .container-fluid {
      padding-left: 0px;
      padding-right: 0px;
    }
    .header__nav-content {
      padding-left: 8px;
      border-left: 7px solid var(--secondary-color);
    }

    .navbar {
      padding-right: 40px !important;
    }

    .dropdown-label-alter {
      &::before {
        content: none !important;
      }
    }

    .active > .dropdown-label-alter {
      &::before {
        content: "" !important;

        left: 0px !important;
        right: 0px;
        top: unset;
        border: 0px solid transparent !important;
        border-radius: 0px;
        bottom: 0px;
        width: 100%;
        height: 4px;
        background-color: var(--primary-color);
        transform: translate(0px) !important;
      }
    }
  }

  .header-three {
    .header__nav-content {
      padding-left: 15px;
    }

    .header-three__content {
      background-color: transparent;
      box-shadow: none;
    }

    .btn--primary {
      padding: 19px 24px;
      border-radius: 0px;
      border-bottom-right-radius: 20px;
    }

    .header__nav {
      background-color: var(--white);
      border-radius: 0px 0px 30px 20px;
      background: #fff;
      box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    }
  }

  .sticky-header {
    .header__nav {
      .header__nav-content {
        padding: 0px;

        .navbar__dropdown-label {
          padding: 38px 15px !important;
        }

        .navbar__sub-menu {
          a {
            padding: 16px 32px !important;
            &:hover {
              padding-left: 40px !important;
            }
          }

          .active > a {
            padding-left: 40px !important;
          }
        }
      }
    }
  }

  .banner {
    padding-top: 200px;

    .banner__inner {
      padding: 180px 0px;
    }
  }

  .banner-two,
  .common-banner {
    margin-top: 120px;
  }

  .banner-three {
    margin-top: 80px;
  }

  .common-banner {
    h2 {
      font-size: 40px;
      line-height: 50px;
    }
    .breadcrumb {
      li,
      a {
        font-size: 20px;
        line-height: 30px;
      }

      .breadcrumb-item + .breadcrumb-item {
        &::before {
          font-size: 24px;
          margin-top: -2px;
        }
      }
    }
  }

  .about {
    .about__content {
      padding: 0px 30px;
    }
  }

  .counter {
    .counter__inner {
      border-radius: 100px 10px 10px 100px;
      border: 1px solid #ddd;
      background: #fff;
    }

    .counter__single {
      flex-direction: row;
      justify-content: flex-start;

      h3 {
        justify-content: flex-start;
      }
    }

    .counter__single-icon,
    .counter__single-icon__inner {
      border-radius: 100px 0px 0px 100px;
    }
  }

  .featured-servcies {
    .featured-services__thumb {
      padding-right: 20px;
    }
  }

  .team {
    .team__single-thumb {
      @include box(340px);
    }

    .team__single-thumb__inner {
      @include box(320px);
    }

    .team__single-thumb-img {
      @include box(310px);
    }

    .team__single-content__icon {
      @include box(60px);

      i {
        font-size: 20px;
      }
    }

    .team__single__thumb-social {
      a {
        @include box(60px);

        font-size: 20px;
      }
    }
  }

  .priority {
    .priority__thumb {
      padding-left: 15px;
    }
  }

  .blog-details {
    .details-comment {
      .reply-box-child {
        margin-left: 60px;
      }
    }
  }

  .blog-main {
    .blog__single-title {
      h4 {
        font-size: 28px;
      }
    }
  }

  .portfolio {
    .portfolio__inner {
      padding: 0px 25px;
    }
  }

  .portfolio-three__inner {
    padding: 0px 50px;
  }

  .portfolio-three {
    .portfolio__single-thumb-lg {
      img {
        height: 630px;
      }
    }
  }

  .faq__content {
    padding-left: 20px;
  }

  .testimonial {
    .testimonial__slider-content {
      padding-left: 30px;
    }
    .testimonial__inner-wrapper {
      padding: 80px;
    }

    p {
      font-size: 24px;
    }

    .slider-navigation {
      position: absolute;
      bottom: 123px;
      right: 223px;
      z-index: 2;
    }
  }

  .pricing {
    .pricing__content-center {
      text-align: end;
      h2 {
        font-size: 64px;
        line-height: 74px;
      }
    }
  }

  .service-three {
    .swiper-wrapper {
      height: 720px;
    }
    .service-three__slider {
      padding-left: 40px;
    }

    .content {
      max-width: 290px;
      margin-right: auto;
    }
  }

  .footer {
    .footer__widget-alter {
      padding-left: 40px;
    }
  }

  .footer-two {
    .footer__widget-alter {
      padding-left: 0px;
    }

    .topbar__item-single {
      span,
      p {
        font-size: 20px;
        line-height: 1;
      }

      svg {
        width: auto;
        height: auto;
      }
    }
  }
}

@media only screen and (min-width: 1400px) {
  .header-two {
    .navbar__options {
      .btn--primary {
        display: flex;
      }
    }
  }

  .banner {
    .banner {
      .banner-left-shape {
        max-width: 530px;
      }
      .banner-half-shape {
        width: 60%;
      }
    }
  }

  .testimonial-two {
    .testimonial-two__wrapper {
      .slider-navigation {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0px;
        right: 0px;
        z-index: 2;
        width: 100%;
        margin: 0px;
        justify-content: space-between;
      }

      .prev-slide {
        transform: translateX(-50%);
      }

      .next-slide {
        transform: translateX(50%);
      }
    }
  }

  .counter-two {
    .container {
      max-width: 1300px !important;
    }

    .counter__single {
      flex-direction: row;
      justify-content: center;

      h3 {
        justify-content: flex-start;
      }
    }

    .counter__inner {
      padding: 30px;
      background-color: var(--primary-color);
      border-radius: 120px;
      margin-top: 80px;
      position: relative;
      z-index: 1;

      .cloud {
        position: absolute;
        bottom: calc(100% - 30px);
        left: 50%;
        transform: translateX(-50%);
        height: 120px;
        width: 95%;
        object-position: top;
        z-index: -1;
      }
    }
  }
}

@media only screen and (min-width: 1600px) {
  .banner {
    .banner-two-navigation {
      position: absolute;
      top: 50%;
      right: 100px;
      transform: translateY(-50%);
      flex-direction: column;
      margin-top: 100px;
      button {
        font-size: 40px;
        color: var(--white);
        &:nth-last-of-type(1) {
          i {
            transform: rotate(180deg);
          }
        }
      }
    }
  }

  .banner-three {
    .banner-three-navigation {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
      z-index: -1;
      left: 0px;
      right: 0px;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      max-width: 1600px;
      margin-top: 0px;
      button {
        font-size: 40px;
      }
    }
  }
}

@media only screen and (min-width: 1900px) {
  .header-two {
    .navbar__options {
      .contact-btn {
        display: flex;
      }
    }

    .navbar__mobile-options {
      gap: 40px;
    }

    .header__nav-content {
      .navbar__item {
        .navbar__dropdown-label {
          padding: 32px 25px;
        }
      }
    }
  }
}

@media only screen and (max-width: 991.98px) {
  .blog,
  .blog-two {
    .blog__single-title {
      margin-top: 20px;
      h5 {
        font-size: 18px;
        line-height: 28px;
      }
    }
  }

  .banner-three {
    .banner-cloud {
      .swiper-slide {
        margin-left: -2px;
      }
    }
  }
}

@media only screen and (max-width: 767.98px) {
  // offcanvas cart
  .sidebar-cart {
    width: 320px;
  }

  // search popup
  .search-popup {
    .search-popup__group {
      input,
      button {
        height: 60px;
        line-height: 60px;
      }
    }
  }



  .pricing {
    .pricing__content-single {
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .pricing__content-tag-wrapper,
      .pricing__content-center,
      .pricing__content-right {
        text-align: center;
      }
    }
  }
}
