/* ==== 
 --------- (5.04) featured services section styles start ---------
 ==== */

.featured-servcies {
  background-color: var(--white);
  position: relative;
  z-index: 1;
  padding: 100px 0px;
  overflow-x: clip;
  &::after {
    content: "";
    position: absolute;
    left: 0px;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
    width: 100%;
    height: calc(100% - 98px);
    background-color: var(--base-color);
    z-index: -2;
  }

  .shape-top {
    position: absolute;
    bottom: calc(100% - 56px);
    left: 0px;
    right: 0px;
    img {
      width: 100%;
      min-height: 56px;
    }
  }

  .shape-bottom {
    position: absolute;
    top: calc(100% - 50px);
    left: 0px;
    right: 0px;
    img {
      width: 100%;
      min-height: 50px;
    }
  }

  .tab-btn-wrapper {
    position: relative;
    z-index: 1;
    margin-bottom: 30px;
    cursor: pointer;
    &:nth-last-of-type(1) {
      margin-bottom: 0px;
    }
    &:hover {
      .featured-services-tab-single {
        &::before {
          width: 100%;
        }
      }
      h5,
      p {
        color: var(--white);
      }
    }
  }

  .tab-btn-active {
    .featured-services-tab-single {
      &::before {
        width: 100%;
      }
    }
    h5,
    p {
      color: var(--white) !important;
    }
  }

  .featured-services-tab-single {
    padding: 20px 30px 20px 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
    transition: var(--transition);
    position: relative;
    z-index: 1;
    overflow: hidden;
    cursor: pointer;
    margin-right: 25px;
    &::before {
      content: "";
      position: absolute;
      inset: 0px;
      width: 0%;
      height: 100%;
      background-color: var(--primary-color);
      border-radius: 10px;

      z-index: -1;
      transition: var(--transition);
    }
    h5 {
      font-weight: 600;
      color: var(--base-color);
      margin-bottom: 3px;
      transition: var(--transition);
    }

    p {
      transition: var(--transition);
    }

    .tab-single__content {
      text-align: center;
    }
  }

  .count-prefix {
    @include box(50px);
    background-color: var(--secondary-color);
    font-size: 20px;
    color: var(--black);
    font-weight: 600;
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
  }

  .tab-single__icon {
    @include box(100px);
    background-color: var(--white);
    i {
      font-size: 50px;
      color: var(--base-color);
    }
  }

  .featured-tab__content {
    position: relative;
    margin-top: 35px;
  }

  .featured-tab__cotnent-thumb {
    &::before {
      content: "";
      position: absolute;
      inset: 0px;
      border-radius: 10px;
      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.06) 0%,
        #fff 92.31%
      );
    }
    img {
      width: 100%;
      border-radius: 10px;
      min-height: 340px;
    }
  }

  .tab-content__inner {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 30px 20px;

    h3 {
      font-weight: 700;
      color: var(--base-color);
      margin-bottom: 12px;
    }

    p {
      color: #462d2d;
    }

    .cta {
      margin-top: 16px;
      a {
        font-weight: 700;
        color: var(--primary-color);
        display: inline-flex;
        align-items: center;
        gap: 8px;
        i {
          transform: rotate(-45deg);
          margin-bottom: -3px;
          transition: transform 0.5s ease-in-out;
        }
        &:hover {
          color: var(--base-color);
          i {
            transform: rotate(0deg);
          }
        }
      }
    }
  }

  .featured-servcie__cta {
    display: flex;
    align-items: center;
    gap: 30px;
    row-gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    .btn--secondary {
      padding-left: 24px;
      padding-right: 24px;
    }
  }

  .bubble-sm {
    position: absolute;
    inset: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;

    .bubble {
      background: white;
      opacity: 0.15;
    }
  }
}

// featured service two
.featured-service-two {
  padding: 100px 0px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  &::before {
    content: "";
    position: absolute;
    inset: 0px;
    background-color: var(--base-color);
    z-index: -1;
  }

  .featured-service__single {
    &:hover {
      .thumb {
        img {
          transform: scale(1.2) rotate(5deg);
        }
      }
    }
    .thumb {
      a {
        width: 100%;
        border-radius: 15px 15px 0px 0px;
        overflow: hidden;

        img {
          width: 100%;
          min-height: 260px;
          border-radius: 15px 15px 0px 0px;
          transition: var(--transition);
        }
      }
    }
  }

  .feature-icon-wrapper {
    position: relative;
    z-index: 2;
    padding-left: 30px;
    img {
      position: absolute;
      left: 0px;
      bottom: 0px;
      right: 0px;
    }
  }

  .feature-icon {
    @include box(70px);
    background-color: var(--base-color);
    position: relative;
    top: -20px;
    z-index: 1;
    i {
      font-size: 40px;
      color: var(--white);
    }

    span {
      @include box(35px);
      border: 3px solid var(--primary-color);
      background-color: var(--secondary-color);
      color: var(--black);
      position: absolute;
      top: 0px;
      transform: translate(-50%, 15%);
      left: 0px;
      font-size: 18px;
      font-weight: 700;
    }
  }

  .content-wrapper {
    position: relative;
    top: -50px;
    margin-bottom: -70px;
  }

  .content {
    padding: 33px 30px 35px;
    border-radius: 0px 0px 15px 15px;
    background: #fff;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
    position: relative;
    top: -20px;
    margin-bottom: -20px;
    img {
      position: absolute;
      bottom: calc(100% - 50px);
      left: 0px;
      right: 0px;
    }
    a {
      font-weight: 700;
      color: var(--base-color);
      &:hover {
        color: var(--black);
      }
    }

    p {
      margin-top: 12px;
    }
  }

  .left-bg,
  .right-bg {
    position: absolute;
    z-index: -1;
    left: 0px;
    top: 0px;
    bottom: 0px;
    height: 100%;
  }

  .right-bg {
    left: unset;
    right: 0px;
  }
}

.featured-service-two--light {
  background: var(--white);
  &::before {
    content: none;
  }

  .left-bg,
  .right-bg {
    display: none;
  }
}

/* ==== 
 --------- (5.04) featured services section styles end ---------
 ==== */
