/* ==== 
 --------- (5.02) service section styles start ---------
 ==== */

.service {
  background-color: #f6feff;
  position: relative;
  z-index: 1;
  padding-bottom: 5px;
  overflow: hidden;
  &::after {
    content: "";
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 30%;
    background-color: var(--white);
    z-index: -2;
  }
  .service__single {
    padding: 0px 24px 24px 24px;
    background: #fff;
    text-align: center;
    border-radius: 50px 50px 15px 15px;
    transition: var(--transition);
    position: relative;
    margin-top: 50px;
    &::before {
      content: "";
      position: absolute;
      inset: 0px;
      width: 100%;
      height: calc(100% - 90px);
      border-radius: 50px 50px 15px 15px;
      border: 1px solid #ddd;
      transition: border-color 0.5s ease-in-out;
      z-index: -1;
    }
    &:hover {
      background-color: var(--base-color);
      &::before {
        border-color: var(--base-color);
      }
      .service__single-icon {
        transform: rotateY(360deg);
      }

      a {
        &:hover {
          color: var(--white);
        }
      }

      a,
      p {
        color: var(--white);
      }
    }
  }

  .service__single-icon {
    @include box(100px);
    background-color: var(--white);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    position: relative;
    top: -50px;
    margin-bottom: -50px;
    margin-left: auto;
    margin-right: auto;
    transition: var(--transition);
  }

  .service__single-content {
    margin-top: 35px;
    margin-bottom: 35px;
    h5 {
      margin-bottom: 10px;
    }
    a {
      font-weight: 600;
      color: var(--base-color);
      &:hover {
        color: var(--black);
      }
    }

    p {
      transition: var(--transition);
    }
  }

  .service__single-thumb {
    position: relative;
    a {
      width: 100%;
      border-radius: 10px;
    }

    img {
      border-radius: 10px;
      width: 100%;
      min-height: 240px;
    }
  }

  .service__single-active {
    background-color: var(--base-color);
    padding-bottom: 24px;
    &::before {
      height: 100%;
      border-color: var(--base-color);
    }
    .service__single-icon {
      transform: rotateY(360deg);
    }

    a,
    p {
      color: var(--white);
    }
  }

  .cloud {
    position: absolute;
    z-index: -1;
    left: 0px;
    right: 0px;
    bottom: 0px;
    img {
      width: 100%;
    }
  }
}

// service two
.service-two {
  padding: 100px 0px;
  background-color: #f6feff;
  position: relative;
  z-index: 1;
  overflow: hidden;

  .service__single {
    padding: 30px 24px;
    border-radius: 15px;
    border: 1px solid #ddd;
    background: #fff;
    transition: var(--transition);
    &:hover {
      background-color: var(--base-color);
      .service__single-icon {
        transform: rotateY(360deg);
      }

      .service__single-content {
        a,
        p {
          color: var(--white);
        }
      }
      .bubble-blog {
        opacity: 1;

        .bubble {
          background: radial-gradient(
            66.94% 66.94% at 59.89% 29.89%,
            #000 0%,
            #020202 37%,
            #090909 51%,
            #141414 60%,
            #252525 68%,
            #3b3b3b 75%,
            #575757 80%,
            #777 86%,
            #9d9d9d 91%,
            #c8c8c8 95%,
            #f6f6f6 99%,
            #fff 100%
          );
        }
      }
    }

    .bubble-blog {
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      width: 300px;
      height: 100%;
      overflow: hidden;
      z-index: -1;
      opacity: 0;
      transition: var(--transition);
    }
  }

  .service__single-thumb {
    a {
      max-height: 130px;
      width: 100%;
      border-radius: 10px;
      img {
        max-height: 130px;
        width: 100%;
        border-radius: 10px;
      }
    }
  }

  .service__single-icon {
    @include box(100px);
    background-color: var(--white);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    position: relative;
    top: -50px;
    margin-bottom: -50px;
    margin-left: auto;
    margin-right: auto;
    transition: var(--transition);
  }

  .service__single-content {
    margin-top: 35px;
    margin-bottom: 35px;
    text-align: center;
    h5 {
      margin-bottom: 10px;
    }
    a {
      font-weight: 600;
      color: var(--base-color);
      &:hover {
        color: var(--black);
      }
    }

    p {
      transition: var(--transition);
    }
  }

  .service__single-cta {
    a {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 24px;
      border-radius: 10px;
      background: #f5f5f5;
      font-weight: 700;
      color: var(--base-color);
    }
    i {
      font-size: 20px;
      margin-top: 2px;
      color: var(--primary-color);
    }
  }

  .about-thumb-left,
  .about-thumb-right {
    position: absolute;
    left: 0px;
    bottom: 20px;
    z-index: -1;
    min-width: 400px;
    min-height: 700px;
    pointer-events: none;
    opacity: 0.6;

    #particles-js-left,
    #particles-js-right {
      position: absolute;
    inset: 0px;
    canvas {
      object-fit: contain;
      object-position: top;
    }
    }

    img {
      max-width: 20vw;
      min-width: 80px;
    }
  }

  .about-thumb-right {
    left: unset;
    right: 0px;
  }

  .partner {
    padding-top: 100px;
    background-color: transparent;
  }
}

// service three
.service-three {
  padding: 100px 0px;
  background-color: #f6f6f6;
  position: relative;
  z-index: 1;
  overflow: hidden;

  .featured-servcie__cta {
    display: flex;
    align-items: center;
    gap: 30px;
    row-gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
    .btn--secondary {
      padding-left: 30px;
      padding-right: 30px;
    }
  }

  .swiper-slide {
    border-radius: 20px;
  }

  .service-navigation {
    padding-top: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 16px;
  }

  .feature-service__inner {
    display: flex;
    height: 100%;
    background-color: var(--white);
    border-radius: 15px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    align-items: flex-start;
  }

  .thumb {
    position: relative;
    overflow: hidden;
  }

  .cloud {
    position: absolute;
    right: -12px;
    top: 0px;
    bottom: 0px;
    height: 100%;
  }

  .feature-icon-wrapper {
    img {
      position: absolute;
      top: 0px;
      bottom: 0px;
      right: 0px;
    }
  }

  .feature-icon {
    @include box(70px);
    background-color: var(--base-color);
    position: absolute;
    top: 20px;
    right: 12px;
    z-index: 1;
    i {
      font-size: 40px;
      color: var(--white);
    }

    span {
      @include box(35px);
      border: 3px solid var(--primary-color);
      background-color: var(--secondary-color);
      color: var(--black);
      position: absolute;
      top: 0px;
      transform: translate(-50%, 15%);
      left: 0px;
      font-size: 18px;
      font-weight: 700;
    }
  }

  .thumb {
    width: 100%;
    a {
      width: 100%;
      border-radius: 15px 15px 0px 0px;
      overflow: hidden;

      img {
        width: 100%;
        min-height: 220px;
        border-radius: 15px 15px 0px 0px;
        transition: var(--transition);
      }
    }
  }

  .content {
    position: relative;
    padding: 30px 24px;
    img {
      position: absolute;
      bottom: calc(100% - 50px);
      left: 0px;
      right: 0px;
    }
    a {
      font-weight: 700;
      color: var(--base-color);

      &:hover {
        color: var(--black);
      }
    }

    .cta {
      a {
        align-items: center;
        gap: 6px;
        color: var(--primary-color);
        font-weight: 400;
        &:hover {
          color: var(--base-color);
        }
        i {
          margin-top: 2px;
        }
      }
    }

    p {
      margin-top: 6px;
      margin-bottom: 15px;
    }
  }

  .bubble-left,
  .bubble-right {
    position: absolute;
    z-index: -1;
  }

  .bubble-left {
    left: 0px;
    bottom: 0px;
    img {
      max-width: 25vw;
      min-width: 100px;
    }
  }

  .bubble-right {
    right: 0px;
    bottom: 40px;
    img {
      max-width: 20vw;
      min-width: 100px;
    }
  }
}

// service details
.service-details {
  padding: 100px 0px;
  .service__sidebar-tab {
    li {
      width: 100%;
      margin-bottom: 12px;
      &:nth-last-of-type(1) {
        margin-bottom: 0px;
      }
    }
    a {
      padding: 28px 40px;
      background-color: #e6ebed;
      color: var(--base-color);
      font-weight: 600;
      position: relative;
      font-size: 20px;
      justify-content: space-between;
      align-items: center;
      display: flex;
      width: 100%;
      border-left: 5px solid transparent;
      &::after {
        content: "::";
        font-size: 24px;
        font-weight: 600;
      }
      &:hover {
        background-color: var(--base-color);
        color: var(--white);
        border-color: var(--primary-color);
      }
    }
  }

  .blog__sidebar-widget {
    text-align: start;
    overflow: hidden;
    position: relative;
    z-index: 1;
    margin-top: 60px;
    .bubble-blog {
      z-index: -1;
      position: absolute;
      inset: 0px;
    }
    a {
      padding: 20px 30px;
      background-color: var(--white);
      color: var(--base-color);
      font-weight: 700;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
      margin-bottom: 20px;
      font-size: 18px;
      border-radius: 5px;
      &:nth-last-of-type(1) {
        margin-bottom: 0px;
      }

      i {
        font-size: 24px;
        color: var(--primary-color);
        transition: var(--transition);
      }
      &:hover {
        background-color: var(--primary-color);
        color: var(--black);
        i {
          color: var(--black);
        }
      }
    }
  }

  .service-group {
    margin-bottom: 60px;
    &:nth-last-of-type(1) {
      margin-bottom: 0px;
    }

    h3,
    h4 {
      margin-top: -7px;
      font-weight: 600;
      color: var(--base-color);
      margin-bottom: 24px;
    }

    p {
      margin-bottom: 20px;
      &:nth-last-of-type(1) {
        margin-bottom: 0px;
      }

      strong {
        color: var(--base-color);
      }
    }
    p + .service-group-thumb {
      margin-top: 30px;
    }

    li {
      display: flex;
      gap: 24px;
      margin-bottom: 20px;
      &:nth-last-of-type(1) {
        margin-bottom: 0px;
      }
      i {
        font-size: 24px;
        color: var(--primary-color);
        margin-top: 10px;
      }
    }
  }

  .service-group-columns {
    margin-top: 40px;
  }

  .service-group-thumb {
    img {
      width: 100%;
      max-height: 460px;
      border-radius: 10px;
      min-height: 200px;
    }
  }

  .accordion-item {
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 0px solid transparent;
    border-radius: 10px;
    padding: 20px;

    &:last-of-type {
      margin-bottom: 0px;
    }

    .accordion-button:not(.collapsed) {
      color: var(--base-color);
      background-color: transparent;
      border-radius: 0px;
      box-shadow: none;

      &::after {
        content: "\f068";
        color: var(--white);
      }

      &::before {
        background-color: var(--base-color);
      }
    }

    .accordion-button {
      border-radius: 0px;
      color: var(--base-color);
      position: relative;
      background-color: transparent;
      box-shadow: none;
      padding: 0px;
      font-weight: 600;
      z-index: 1;

      &::after {
        content: "\2b";
        font-family: "Font Awesome 6 Free";
        font-weight: 900;
        @include box(40px);
        border-radius: 0px;
        background-image: none;
        font-size: 12px;
        color: var(--white);
      }

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        right: 0px;
        transform: translateY(-50%);
        @include box(40px);
        background-color: var(--primary-color);
        z-index: -1;
      }
    }
  }

  h6 {
    display: flex;
    align-items: center;
    gap: 16px;
    font-weight: 600;
    font-size: 20px;

    button {
      padding: 0px;
      font-size: inherit;
      line-height: inherit;
      border: none;
      outline: none;
      box-shadow: 0px 0px 0px;
      padding: 16px 0px;
    }
  }

  .accordion-body {
    padding: 0px;
    border: 0px;
    margin-top: 25px;
  }

  .service-details__faq {
    padding-top: 80px;
    h4 {
      font-weight: 600;
      color: var(--base-color);
      margin-top: -8px;
      margin-bottom: 34px;
    }
  }
}

/* ==== 
 --------- (5.02) service section styles end ---------
 ==== */
