/* ==== 
 --------- (5.05) team section styles start ---------
 ==== */
.team {
  padding: 100px 0px;
  background-color: var(--white);

  .team__single {
    &:hover {
      .team__single-content__icon {
        opacity: 0;
        visibility: hidden;
      }

      .team__single__thumb-social {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
        transform: translateY(0px);
      }
    }
  }

  .team__single-thumb {
    @include box(280px);
    border: 3px solid var(--base-color);
    background-color: var(--white);
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }

  .team__single-thumb__inner {
    @include box(260px);
    background-color: var(--primary-color);
    position: absolute;
    top: 0px;
    right: 0px;
  }

  .team__single-thumb-img {
    @include box(250px);
    position: absolute;
    top: 0px;
    right: 0px;
    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }

  .team__single-content {
    text-align: center;
    margin-top: 30px;
    h4 {
      font-weight: 600;
      color: var(--base-color);
    }

    p {
      color: var(--primary-color);
      font-weight: 600;
      margin-top: 0px;
    }
  }

  .team__single-content__icon {
    @include box(50px);
    position: absolute;
    background-color: var(--base-color);
    color: var(--white);
    bottom: 0%;
    right: 40px;
    z-index: 1;
    cursor: pointer;
    transition: var(--transition);

    i {
      font-size: 18px;
    }
  }

  .team__single__thumb-social {
    position: absolute;
    bottom: 0%;
    right: 40px;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateY(-20%);
    transition: var(--transition);
    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 10px;
    }
    a {
      @include box(50px);
      background-color: var(--base-color);
      color: var(--white);
      font-size: 18px;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      &:hover {
        background-color: var(--white);
        color: var(--primary-color);
      }
    }
  }
}

// team two
.team-two {
  background-color: #f5f5f5;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 100px 0px;
  position: relative;
  z-index: 1;
  .team__single {
    &:hover {
      .team__single-content__icon {
        background-color: var(--secondary-color);
      }

      .team__single__thumb-social {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
        transform: translateY(0px);
      }
    }
  }

  .team__single-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    margin-top: 30px;
    padding-right: 20px;
  }

  .team__single-content {
    h5 {
      font-weight: 600;
      color: var(--base-color);
    }

    p {
      color: var(--primary-color);
      font-weight: 600;
      margin-top: 0px;
    }
  }

  .team__single-content__icon {
    @include box(50px);
    background-color: var(--base-color);
    color: var(--white);
    z-index: 1;
    cursor: pointer;
    transition: var(--transition);

    i {
      font-size: 18px;
    }
  }

  .team__icons {
    position: relative;
  }

  .team__single__thumb-social {
    position: absolute;
    bottom: calc(100% + 10px);
    right: 0px;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateY(-20%);
    transition: var(--transition);
    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 10px;
    }
    a {
      @include box(50px);
      background-color: var(--base-color);
      color: var(--white);
      font-size: 18px;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      &:hover {
        background-color: var(--white);
        color: var(--primary-color);
      }
    }
  }

  .team__single-img {
    padding: 20px 10px 15px 20px;
    position: relative;
    z-index: 1;
    &::before {
      content: "";
      position: absolute;
      top: 0px;
      right: 0px;
      width: calc(100% - 15%);
      height: calc(100% - 30px);
      background-color: var(--primary-color);
      z-index: -1;
      border-radius: 20px;
    }
    &::after {
      content: "";
      position: absolute;
      bottom: 0px;
      left: 0px;
      width: calc(100% - 30%);
      height: calc(100% - 50px);
      border: 3px solid #04009a;
      background: #fff;
      z-index: -1;
      border-radius: 20px;
    }
    img {
      width: 100%;
      min-height: 310px;
      border-radius: 20px;
      border: 5px solid #fff;
    }
  }

  .shape-bottom {
    position: absolute;
    top: calc(100% - 36px);
    left: 0px;
    right: 0px;
    z-index: -1;
    img {
      width: 100%;
      min-height: 36px;
    }
  }
}

.team-two-main {
  margin-top: 0px;
  padding-bottom: 226px;
}

/* ==== 
 --------- (5.05) team section styles end ---------
 ==== */
