.rtl {
  direction: rtl;
}
.rtl .color-palate-inner {
  direction: ltr !important;
}
.rtl .title-animation {
  direction: ltr;
  text-align: end;
}
.rtl .swiper {
  direction: ltr;
}
.rtl .slider-navigation {
  direction: ltr;
}
.rtl .header .header__nav-content .navbar__sub-menu a::before {
  content: none;
}
.rtl .header .header__nav-content .navbar__sub-menu .active > a {
  padding-left: 32px !important;
}
.rtl .header .header__nav-content .navbar__sub-menu .navbar__item--has-children > a:hover {
  padding-left: 32px !important;
}
.rtl .header .header__nav-content .navbar__sub-menu .navbar__item--has-children > a:hover::after {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
.rtl .header .header__nav-content .navbar__sub-menu__nested {
  left: unset;
  right: 100%;
}
.rtl .header .header__nav-content .navbar__sub-menu__nested::before {
  content: none;
}
.rtl .mobile-menu .close-mobile-menu {
  right: 5px;
}
.rtl .mobile-menu .navbar__sub-menu a {
  padding-right: 80px;
}
.rtl .banner {
  direction: ltr;
}
.rtl .about {
  direction: ltr;
}
.rtl .about .about__content {
  direction: rtl;
}
.rtl .about .about__content-inner ul li {
  padding-left: 0px;
  padding-right: 24px;
}
.rtl .about .about__content-review,
.rtl .about .about__content-inner__cta {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.rtl .featured-servcies .featured-servcie__cta {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.rtl .section__header .title-animation,
.rtl .team__single-content .title-animation {
  text-align: center;
}
.rtl .priority .priority__thumb {
  direction: ltr;
}
.rtl .testimonial .testimonial__slider-single {
  direction: rtl;
}
.rtl .blog .blog__single-content .time {
  right: unset;
  left: 30px;
}
.rtl .blog .blog__single-cta {
  direction: ltr;
}
.rtl .blog .blog__single-cta a {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.rtl .service-two .service__single-cta a {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.rtl .footer .footer__widget-group {
  direction: ltr;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.rtl .header-two {
  direction: ltr;
}
.rtl .header-two .header-two__content {
  direction: rtl;
}
.rtl .header-two .mobile-menu {
  direction: rtl;
}
.rtl .header-two .header__nav-content .navbar__sub-menu {
  left: unset;
  right: 0px;
}
.rtl .header-two .header__nav-content .navbar__sub-menu__nested {
  left: unset;
  right: 100%;
}
.rtl .banner-two {
  direction: ltr;
}
.rtl .about-two {
  direction: ltr;
}
.rtl .about-two .title-animation {
  text-align: start;
}
.rtl .featured-service-two .feature-icon-wrapper {
  padding-left: 0px;
  padding-right: 30px;
}
.rtl .testimonial-two .testimonial-two__single {
  direction: rtl;
}
.rtl .pricing {
  direction: ltr;
}
.rtl .blog-two .blog__single-cta a {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.rtl .footer-two .footer__address {
  direction: ltr;
}
.rtl .banner-three {
  direction: ltr;
}
.rtl .banner-three .banner-three__single {
  direction: rtl;
}
.rtl .banner-three .banner-three__single .title-animation {
  text-align: end;
}
.rtl .about-three {
  direction: ltr;
}
.rtl .about-three .about-three__content {
  direction: rtl;
}
.rtl .about-three ul li {
  padding-left: 0px;
  padding-right: 24px;
}
.rtl .about-three .video-btn-wrapper {
  -webkit-transform: translate(20px, 0px);
      -ms-transform: translate(20px, 0px);
          transform: translate(20px, 0px);
}
.rtl .faq {
  direction: ltr;
}
.rtl .faq .faq__content {
  direction: rtl;
}
.rtl .accordion-item .accordion-button::before {
  left: 0px !important;
  right: unset !important;
}
.rtl .accordion-button {
  text-align: start !important;
}
.rtl .accordion-button::after {
  margin-left: 0px !important;
  margin-right: auto !important;
}
.rtl .common-banner {
  direction: ltr;
}
.rtl .common-banner .title-animation {
  text-align: center;
}
.rtl .blog__sidebar-widget-box {
  direction: ltr;
  text-align: center;
}
.rtl .blog__sidebar-widget-box .title-animation {
  text-align: center;
}
.rtl .project-details .project-group li {
  padding-left: 0px;
  padding-right: 20px;
}
.rtl .project-details .project-group li::before {
  left: unset;
  right: 0px;
}
.rtl .pricing-two .section__content {
  direction: rtl;
}
.rtl .coming-soon .title-animation,
.rtl .error-section .title-animation {
  text-align: center;
}
.rtl .blog__sidebar-widget .search-group input {
  border-radius: 0px 10px 10px 0px;
  border-right: 1px solid #ddd;
  border-left: 0px;
}
.rtl .blog__sidebar-widget .search-group button {
  border-radius: 10px 0px 0px 10px;
}
.rtl .blog__sidebar-widget ul a i {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.rtl .blog-details .details-footer {
  direction: ltr;
}
.rtl .details-comment-form .text-start {
  text-align: start !important;
}
.rtl .contact {
  direction: ltr;
}
.rtl .contact .contact__content,
.rtl .contact .contact__form {
  direction: rtl;
}
@media only screen and (min-width: 576px) {
  .rtl .testimonial-two .testimonial-two__single-intro {
    padding-right: 0px;
    padding-left: 24px;
    border-radius: 50px 50px 50px 20px;
  }
  .rtl .footer-three .footer__content form button {
    border-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
}
@media only screen and (min-width: 992px) {
  .rtl .text-lg-start {
    text-align: start !important;
  }
  .rtl .text-lg-end {
    text-align: end !important;
  }
}
@media only screen and (min-width: 1200px) {
  .rtl .header .header__nav-content {
    padding-left: 24px;
    margin-right: -15px;
  }
  .rtl .sticky-header .header__nav .header__nav-content {
    padding: 0px;
    margin-right: 0px;
  }
  .rtl .header-two .header__nav-content {
    padding-left: 35px;
    margin-right: 0px;
  }
  .rtl .featured-servcies .featured-services__thumb {
    padding-right: 0px;
    padding-left: 20px;
  }
  .rtl .priority .priority__thumb {
    padding-left: 0px;
    padding-right: 15px;
  }
  .rtl .testimonial .slider-navigation {
    left: 223px;
    right: 0px;
  }
  .rtl .footer .footer__widget-alter {
    padding-left: 0px;
    padding-right: 40px;
  }
  .rtl .footer-two .footer__widget-alter {
    padding-left: 0px;
    padding-right: 0px;
  }
  .rtl .header-three .header__nav-content {
    padding-right: 15px;
    padding-left: 0px;
    margin-right: 0px;
  }
  .rtl .header-three .btn--primary {
    border-radius: 0px;
    border-bottom-left-radius: 20px;
  }
}