:root {
  --base-color: #44a9aa;
}

.base-img {
  -webkit-filter: brightness(0) saturate(100%) invert(65%) sepia(13%) saturate(1623%) hue-rotate(132deg) brightness(88%) contrast(83%);
          filter: brightness(0) saturate(100%) invert(65%) sepia(13%) saturate(1623%) hue-rotate(132deg) brightness(88%) contrast(83%);
}