/* ==== 
 --------- (4.02) banner styles start ---------
 ==== */

//  banner
.banner {
  position: relative;
  z-index: 1;
  background-color: var(--white);
  padding-top: 90px;

  .banner__inner {
    padding: 100px 0px;
  }

  .banner-two__single {
    text-align: start;
    span {
      font-size: 20px;
      color: var(--primary-color);
      font-weight: 700;
      margin-bottom: 20px;
      opacity: 0;
      transform: scaleY(0);
      transform-origin: top;
      transition: all 1000ms ease;
      display: inline-flex;
      align-items: center;
      justify-content: flex-end;
      gap: 8px;
    }

    h1 {
      font-weight: 700;
      color: var(--white);
      margin-bottom: 20px;
      opacity: 0;
      transform: scaleY(0);
      transform-origin: top;
      transition: all 1000ms ease;
    }

    p {
      font-size: 18px;
      margin-bottom: 40px;
      opacity: 0;
      transform: scaleY(0);
      transform-origin: top;
      transition: all 1000ms ease;
      color: var(--white);
    }

    .cta {
      opacity: 0;
      transform: scaleY(0);
      transform-origin: top;
      transition: all 1000ms ease;
    }
  }

  .swiper-slide-active {
    .banner-two__single {
      span {
        opacity: 1;
        transform: scaleY(1);
        transition-delay: 800ms;
      }

      h1 {
        opacity: 1;
        transform: scaleY(1);
        transition-delay: 1300ms;
      }

      p {
        opacity: 1;
        transform: scaleY(1);
        transition-delay: 1800ms;
      }

      .cta {
        opacity: 1;
        transform: scaleY(1);
        transition-delay: 2300ms;
      }
    }

    .thumb {
      img {
        animation: backgroundAnimation 12s ease-in-out;
        transform: scale(1.2);
        transition-delay: 1s;
      }
    }
  }

  .banner-half-shape {
    position: absolute;
    right: 0px;
    bottom: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: -2;
    overflow: hidden;
    background-color: var(--base-color);

    .banner-bg {
      position: absolute;
      left: 8px;
      top: 0px;
      bottom: 0px;
      width: 100%;
      height: 100%;
      object-position: left;
    }

    .thumb-shape {
      position: absolute;
      left: 0px;
      bottom: 0px;
      top: 0px;
      height: 100%;
      object-position: top;
    }

    img {
      display: none;
    }
  }

  .bubble-wrapper {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    width: 300px;
    height: 100%;
    overflow: hidden;
    z-index: 1;
  }

  .banner-left-shape {
    position: absolute;
    left: 0px;
    top: 0px;
    max-width: 550px;
    height: 280px;
    z-index: -3;

    .banner-left-shape-img {
      position: absolute;
      top: -5px;
      right: 0px;
    }
    img {
      display: none;
    }
  }

  .banner-thumb-wrapper {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    z-index: -4;
    min-width: 60vw;
    max-width: 60vw;
    pointer-events: none;

    img {
      min-width: 60vw;
      object-position: left top;
      height: 100%;
    }
    .banner-two-slider-thumb {
      height: 100%;
      .thumb {
        height: 100%;
      }
    }
  }

  .banner-two-navigation {
    z-index: 1;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 24px;
    margin-top: 40px;
    button {
      font-size: 40px;
      color: var(--white);
      &:nth-last-of-type(1) {
        i {
          transform: rotate(180deg);
        }
      }
    }
  }
}

//  banner two
.banner-two {
  margin-top: 90px;
  padding: 100px 0px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  &::before {
    content: "";
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 1450px;
    height: 1450px;
    border-radius: 48px;
    background: linear-gradient(
          to bottom right,
          #00c2ff 0%,
          var(--base-color) 50%
        )
        calc(100% - 1px) calc(100% - 1px) / 50% 50% no-repeat,
      linear-gradient(to bottom left, #00c2ff 0%, var(--base-color) 50%) 0px
        calc(100% - 1px) / 50% 50% no-repeat,
      linear-gradient(to top left, #00c2ff 0%, var(--base-color) 50%) 0px 1px /
        50% 50% no-repeat,
      linear-gradient(to top right, #00c2ff 0%, var(--base-color) 50%)
        calc(100% - 1px) 0px / 50% 50% no-repeat;
    z-index: -2;
    transform: rotate(45deg) translateX(30%) translateY(-20%);
  }
  &::after {
    content: "";
    position: absolute;
    left: 35%;
    top: 0px;
    width: 780px;
    height: 780px;
    border-radius: 48px;
    z-index: -3;
    background-color: var(--base-color);
    opacity: 0.6;
    transform: rotate(45deg) translateX(-60%) translateY(-50%);
  }

  .shape-lg {
    position: absolute;
    width: 440px;
    height: 440px;
    background-color: var(--primary-color);
    border-radius: 20px;
    transform: rotate(45deg) translateY(80%);
    bottom: 0px;
    right: 13%;
    z-index: -1;
  }
  .banner-thumb-wrapper {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    z-index: -4;
    min-width: 60vw;
    max-width: 60vw;
    pointer-events: none;

    img {
      min-width: 60vw;
      object-position: left top;
      height: 100%;
    }
    .banner-two-slider-thumb {
      height: 100%;
      .thumb {
        height: 100%;
      }
    }
  }

  .banner-two-navigation {
    z-index: 1;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 24px;
    margin-top: 40px;
    button {
      font-size: 40px;
      color: var(--white);
      &:nth-last-of-type(1) {
        i {
          transform: rotate(180deg);
        }
      }
    }
  }

  .banner-two__content {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    &::before {
      content: "";
      position: absolute;
      inset: 0px;
      top: -30%;
      height: 130%;
      width: 100%;
      border-radius: 50%;
      border-radius: 372.5px;
      background: #fff;
      box-shadow: 0px 0px 80px 0px rgba(0, 0, 0, 0.5);
      filter: blur(50px);
      z-index: -2;
    }

    .bubble-banner {
      position: absolute;
      width: 450px;
      height: 70%;
      left: 0px;
      top: 50%;
      transform: translateY(-50%);
      z-index: -1;

      .bubble {
        position: absolute;
        width: 10px;
        height: 10px;
        background: radial-gradient(
          66.95% 66.95% at 59.88% 29.89%,
          #000 0%,
          #020202 37%,
          #090909 51%,
          #141414 60%,
          #252525 68%,
          #3b3b3b 75%,
          #575757 80%,
          #777 86%,
          #9d9d9d 91%,
          #c8c8c8 95%,
          #f6f6f6 99%,
          #fff 100%
        );
        border-radius: 50%;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        animation: floatUpAlter 10s linear infinite;
        opacity: 0;
      }
    }

    .bubble-banner-right {
      left: unset;
      right: 0px;

      .bubble {
        animation: floatUpAlterT 10s linear infinite;
      }
    }
  }

  .banner-two__single {
    max-width: 560px;
    margin-left: auto;
    margin-right: auto;
    span {
      font-size: 20px;
      color: var(--primary-color);
      font-weight: 700;
      margin-bottom: 20px;
      opacity: 0;
      transform: scaleY(0);
      transform-origin: top;
      transition: all 1000ms ease;
    }

    h1 {
      font-weight: 700;
      color: var(--base-color);
      margin-bottom: 20px;
      opacity: 0;
      transform: scaleY(0);
      transform-origin: top;
      transition: all 1000ms ease;
    }

    p {
      font-size: 18px;
      margin-bottom: 40px;
      max-width: 440px;
      margin-left: auto;
      margin-right: auto;
      opacity: 0;
      transform: scaleY(0);
      transform-origin: top;
      transition: all 1000ms ease;
    }

    .cta {
      opacity: 0;
      transform: scaleY(0);
      transform-origin: top;
      transition: all 1000ms ease;
    }
  }

  .banner-two__inner {
    &::before {
      content: "";
      position: absolute;
      width: 85px;
      height: 85px;
      background-color: var(--secondary-color);
      border-radius: 20px;
      top: 20%;
      right: 150px;
      z-index: -1;
      animation: rotation 10s linear infinite;
      animation-delay: 2s;
    }

    &::after {
      content: "";
      position: absolute;
      left: -150px;
      top: -50px;
      width: 200px;
      height: 200px;
      background-color: var(--secondary-color);
      border-radius: 20px;
      z-index: -1;
      transform: rotate(45deg);
      animation: rotation 10s linear infinite;
    }
  }

  .swiper-slide-active {
    .banner-two__single {
      span {
        opacity: 1;
        transform: scaleY(1);
        transition-delay: 800ms;
      }

      h1 {
        opacity: 1;
        transform: scaleY(1);
        transition-delay: 1300ms;
      }

      p {
        opacity: 1;
        transform: scaleY(1);
        transition-delay: 1800ms;
      }

      .cta {
        opacity: 1;
        transform: scaleY(1);
        transition-delay: 2300ms;
      }
    }

    .thumb {
      img {
        animation: backgroundAnimation 12s ease-in-out;
        transform: scale(1.2);
        transition-delay: 1s;
      }
    }
  }
}

@keyframes floatUpAlter {
  0% {
    transform: translateY(0) translateX(60px);
    opacity: 0.08;
  }
  25% {
    transform: translateY(-25vh) translateX(-60px);
  }
  50% {
    transform: translateY(-50vh) translateX(60px);
    opacity: 0.05;
  }
  75% {
    transform: translateY(-75vh) translateX(320px);
    opacity: 0;
  }
  100% {
    transform: translateY(-100vh) translateX(0);
  }
}

@keyframes floatUpAlterT {
  0% {
    transform: translateY(0) translateX(250px);
    opacity: 0.08;
  }
  25% {
    transform: translateY(-25vh) translateX(350px);
  }
  50% {
    transform: translateY(-50vh) translateX(220px);
    opacity: 0.05;
  }
  75% {
    transform: translateY(-75vh) translateX(-120px);
    opacity: 0;
  }
  100% {
    transform: translateY(-100vh) translateX(0);
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
    opacity: 0.4;
  }
  100% {
    transform: rotate(180deg);
    opacity: 0.8;
  }
}

// banner three
.banner-three {
  margin-top: 90px;
  padding: 100px 0px 180px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  &::before {
    content: "";
    position: absolute;
    inset: 0px;
    background-color: var(--base-color);
    opacity: 0.7;
    z-index: -3;
  }

  .banner-three__single {
    span {
      font-size: 20px;
      color: var(--primary-color);
      font-weight: 700;
      margin-bottom: 20px;
      margin-top: -7px;
      opacity: 0;
      transform: scaleY(0);
      transform-origin: top;
      transition: all 1000ms ease;
    }

    h1 {
      font-weight: 700;
      color: var(--white);
      margin-bottom: 20px;
      opacity: 0;
      transform: scaleY(0);
      transform-origin: top;
      transition: all 1000ms ease;
    }

    p {
      font-size: 18px;
      margin-bottom: 40px;
      max-width: 440px;
      color: var(--white);
      opacity: 0;
      transform: scaleY(0);
      transform-origin: top;
      transition: all 1000ms ease;
    }

    .cta {
      opacity: 0;
      transform: scaleY(0);
      transform-origin: top;
      transition: all 1000ms ease;
    }
  }

  .banner-thumb-wrapper {
    position: absolute;
    inset: 0px;
    z-index: -5;
    height: 100%;

    img {
      width: 100%;
      object-position: left top;
      height: 100%;
    }
    .banner-three-slider-thumb {
      height: 100%;
      .thumb {
        height: 100%;
      }
    }
  }

  .banner-three-navigation {
    margin-top: 40px;
    display: flex;
    align-items: center;
    gap: 24px;
    button {
      font-size: 30px;
      color: var(--white);
      &:nth-last-of-type(2) {
        i {
          transform: rotate(180deg);
        }
      }
    }
  }

  .swiper-slide-active {
    .banner-three__single {
      span {
        opacity: 1;
        transform: scaleY(1);
        transition-delay: 800ms;
      }

      h1 {
        opacity: 1;
        transform: scaleY(1);
        transition-delay: 1300ms;
      }

      p {
        opacity: 1;
        transform: scaleY(1);
        transition-delay: 1800ms;
      }

      .cta {
        opacity: 1;
        transform: scaleY(1);
        transition-delay: 2300ms;
      }
    }

    .thumb {
      img {
        animation: backgroundAnimation 12s ease-in-out;
        transform: scale(1.2);
        transition-delay: 1s;
      }
    }
  }

  .bubble-banner {
    position: absolute;
    width: 450px;
    height: 70%;
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
    z-index: -3;

    .bubble {
      position: absolute;
      width: 10px;
      height: 10px;
      background: radial-gradient(
        66.96% 66.96% at 59.89% 29.88%,
        #000 0%,
        #020202 37%,
        #090909 51%,
        #141414 60%,
        #252525 68%,
        #3b3b3b 75%,
        #575757 80%,
        #777 86%,
        #9d9d9d 91%,
        #c8c8c8 95%,
        #f6f6f6 99%,
        #fff 100%
      );
      border-radius: 50%;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      animation: floatUpAlter 10s linear infinite;
      opacity: 0;
    }
  }

  .bubble-banner-right {
    left: unset;
    right: 5%;

    .bubble {
      animation: floatUpAlterT 10s linear infinite;
    }
  }

  .banner-thumb {
    position: absolute;
    bottom: 30px;
    right: 16%;
    z-index: -2;
    img {
      min-width: 25vw;
      max-width: 35vw;
    }
  }

  .banner-cloud {
    position: absolute;
    bottom: -5px;
    left: 0px;
    right: 0px;
    z-index: -1;

    img {
      width: 100%;
      height: 120px;
      object-position: top;
    }

    .swiper-slide {
      margin-left: -16px;
    }
    .swiper-wrapper{
      transition-timing-function : linear !important;
    }
  }
}

// common banner
.common-banner {
  padding: 120px 0px 115px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
  margin-top: 90px;
  position: relative;
  z-index: 1;
  &::after {
    content: "";
    position: absolute;
    inset: 0px;
    opacity: 0.4;
    background: var(--base-color);
    z-index: -1;
  }

  .common-banner__inner {
    text-align: center;
  }

  h2 {
    font-weight: 600;
    color: var(--white);
    margin-top: -12px;
    margin-bottom: 14px;
    text-transform: uppercase !important;
  }
}

@keyframes backgroundAnimation {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

/* ==== 
 --------- (4.02) banner styles end ---------
 ==== */
