/* ==== 
 --------- (3.01) buttons styles start ---------
 ==== */

.btn--primary {
  padding: 16px 46px;
  background-color: var(--base-color);
  color: var(--white);
  border: 1px solid var(--base-color);
  position: relative;
  z-index: 1;
  text-transform: capitalize;
  font-weight: 700;
  border-radius: 5px;
  &::before {
    content: "";
    position: absolute;
    inset: 0px;
    width: 0%;
    height: 100%;
    background-color: var(--black);
    transition: var(--transition);
    z-index: -1;
    border-radius: inherit;
  }
  &:hover {
    border: 1px solid var(--black);
    &::before {
      width: 100%;
    }
  }
}

.btn--secondary {
  padding: 16px 46px;
  background-color: var(--primary-color);
  color: var(--white);
  border: 1px solid var(--primary-color);
  position: relative;
  z-index: 1;
  text-transform: capitalize;
  font-weight: 700;
  border-radius: 5px;
  &::before {
    content: "";
    position: absolute;
    inset: 0px;
    width: 0%;
    height: 100%;
    background-color: var(--white);
    transition: var(--transition);
    z-index: -1;
    border-radius: inherit;
  }
  &:hover {
    border: 1px solid var(--white);
    color: var(--black);
    &::before {
      width: 100%;
    }
  }
}

/* ==== 
 --------- (3.01) buttons styles end ---------
 ==== */
