/* ==== 
 --------- (3.02) forms styles start ---------
 ==== */
.input-group {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 30px;
  .input-single {
    width: 100%;
  }

  input,
  textarea {
    width: 100%;
    padding: 16px 16px;
    background-color: #e6ebed;
    border: 1px solid transparent;
    transition: var(--transition);
    border-radius: 5px !important;
    &:focus {
      border-color: var(--base-color);
    }
  }

  label {
    font-weight: 600;
    margin-bottom: 12px;
  }

  textarea {
    min-height: 150px;
    max-height: 300px;
  }
}
/* ==== 
 --------- (3.02) forms styles end ---------
 ==== */
