/* ==== 
 --------- (2.03) global styles start ---------
 ==== */

img {
  max-width: 100%;
  height: auto;
  border: 0px;
  outline: 0px;
  object-fit: cover;
}

i {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

span {
  display: inline-block;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

.row {
  --bs-gutter-x: 30px;
}

.gutter-12 {
  row-gap: 12px;
}

.gutter-30 {
  row-gap: 30px;
}

.gutter-40 {
  row-gap: 40px;
}

.gutter-60 {
  row-gap: 60px;
}

// custom cursor
.cursor-outer {
  margin-left: -12px;
  margin-top: -12px;
  width: 30px;
  height: 30px;
  border: 1px solid var(--base-color);
  background-color: var(--base-color);
  box-sizing: border-box;
  z-index: 10000000;
  opacity: 0.34;
  transition: all 0.4s ease-out 0s;

  &.cursor-hover {
    opacity: 0.14;
  }

  &.cursor-big {
    opacity: 0;
  }
}

.mouseCursor {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  border-radius: 50%;
  transform: translateZ(0);
  visibility: hidden;
  text-align: center;
  &.cursor-big {
    width: 20px;
    height: 20px;
    margin-left: -12px;
    margin-top: -12px;
  }
}

.cursor-inner {
  margin-left: -3px;
  margin-top: -3px;
  width: 10px;
  height: 10px;
  z-index: 10000001;
  background-color: var(--base-color);
  opacity: 1;
  transition: all 0.24s ease-out 0s;

  span {
    color: var(--theme-color);
    line-height: 60px;
    opacity: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
  }

  &.cursor-big {
    span {
      opacity: 1;
    }
  }

  &.cursor-hover {
    margin-left: -10px;
    margin-top: -10px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 1px solid #686363;
    opacity: 0;
  }
}

// scroll to top with progress
.progress-wrap {
  position: fixed;
  right: 20px;
  bottom: 20px;
  height: 50px;
  width: 50px;
  padding: 6px;
  cursor: pointer;
  display: block;
  border-radius: 50px;
  background-color: #d8d6eb;
  box-shadow: inset 0 0 0 8px #d8d6eb;
  z-index: 10000;
  opacity: 0;
  visibility: hidden;
  transform: translateY(15px);
  transition: all 200ms linear;
  z-index: 99;
  overflow: hidden;

  span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 34px;
    height: 34px;
    background-color: var(--white);
    border-radius: 50%;
    overflow: hidden;
    &::after {
      content: "\f176";
      font-family: "Font Awesome 6 Free";
      font-weight: 700;
      position: absolute;
      text-align: center;
      line-height: 34px;
      font-size: 16px;
      border-radius: 50%;
      color: var(--base-color);
      left: 50%;
      top: 50%;
      transform: translate(-50%, 200%);
      height: 34px;
      width: 34px;
      cursor: pointer;
      display: block;
      z-index: 1;
      transition: all 200ms linear;
    }

    &::before {
      position: absolute;
      content: "\f176";
      font-family: "Font Awesome 6 Free";
      font-weight: 700;
      text-align: center;
      line-height: 34px;
      font-size: 16px;
      border-radius: 50%;
      color: var(--base-color);
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      height: 34px;
      width: 34px;
      cursor: pointer;
      display: block;
      z-index: 2;
      transition: all 200ms linear;
    }
  }

  &:hover {
    span {
      &::before {
        transform: translate(-50%, -200%);
      }
      &::after {
        transform: translate(-50%, -50%);
      }
    }
  }

  path {
    fill: none;
  }

  .progress-circle {
    path {
      stroke: var(--base-color);
      stroke-width: 4;
      box-sizing: content-box;
      transition: all 200ms linear;
    }
  }
}

.active-progress {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

// social
.social {
  display: flex;
  align-items: center;
  gap: 24px;
  a {
    font-size: 20px;
    color: var(--white);
    &:hover {
      color: var(--white);
    }
  }
}

.stroke-base {
  stroke: var(--base-color);
}

.fill-base {
  fill: var(--base-color);
}

// breadcrumb
.breadcrumb {
  margin-bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;
  .breadcrumb-item,
  a {
    color: #ffffff;
  }

  a {
    &:hover {
      color: var(--base-color);
    }
  }

  .breadcrumb-item + .breadcrumb-item {
    padding-left: 0px;
    color: var(--white);
    &::before {
      padding-right: 16px;
      font-size: 20px;
      content: "::";
      font-weight: 700;
      color: #ffffff;
      margin-top: -1px;
    }
  }

  .active {
    color: var(--white) !important;
  }
}

// offcanvas cart styles start

.sidebar-cart {
  background: var(--black);
  color: var(--white);
  padding: 15px 15px 0 15px;
  position: fixed;
  display: block;
  width: 320px;
  height: 100vh;
  z-index: 99999;
  top: 0;
  right: 0px;
  transform: translateX(100%);
  box-shadow: -10px 0 15px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease-in-out;

  .close-cart {
    height: 16px;
    width: 16px;
    margin: 0 0 15px 0;
    text-decoration: none;
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    background-color: transparent;
    border: 0px;
    outline: 0px;
    .close-icon {
      width: 16px;
      height: 16px;
      background: var(--white);
      text-indent: -9999px;
      overflow: hidden;
      font-size: 0;
      mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath d='M30.3 32c-.5 0-.9-.2-1.2-.5L16 18.4 3 31.5c-.4.3-.8.5-1.3.5s-.9-.2-1.2-.5c-.7-.7-.7-1.8 0-2.4L13.6 16 .5 2.9C-.2 2.2-.2 1.2.5.5.8.2 1.2 0 1.7 0s.9.2 1.2.5l13.1 13 13-13c.7-.7 1.7-.7 2.4 0 .4.3.6.7.6 1.2s-.2.9-.5 1.2L18.4 16l13.1 13.1c.7.7.7 1.8 0 2.4-.3.3-.8.5-1.2.5z'/%3E%3C/svg%3E");
      transition: all 0.5s linear;
    }
  }

  h2 {
    color: var(--white);
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 1;
    margin: 5px 0 25px 0;
    display: flex;
    justify-content: center;

    span.count {
      color: var(--tertiary-color);
      background: var(--secondary-color);
      padding: 8px;
      margin-left: 6px;
      position: relative;
      top: -1px;
      width: 18px;
      height: 18px;
      border-radius: 50px;
      font-size: 12px;
      letter-spacing: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .cart-items {
    margin-top: 30px;
  }

  .cart-item-single {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 24px 0px;
    border-bottom: 1px solid #ffffff50;
    padding-right: 24px;
    position: relative;
    .delete-item {
      position: absolute;
      top: 50%;
      right: 0px;
      transform: translateY(-50%);
      color: var(--secondary-color);
      background-color: transparent;
      font-size: 20px;
    }

    .cart-item-thumb {
      a {
        width: 80px;
        height: 100px;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }

    .h6 {
      a {
        font-weight: 600;
        color: var(--white);
        font-size: 18px;
        &:hover {
          color: var(--secondary-color);
        }
      }
    }

    .price {
      font-weight: 600;
      font-size: 14px;
      color: var(--secondary-color);
    }

    .measure {
      display: flex;
      align-items: center;
      gap: 12px;
      margin-top: 10px;
      button {
        @include box(20px);
        border-radius: 0px;
        background-color: var(--white);
        color: var(--base-color);
        font-size: 10px;
      }
    }

    .item-quantity {
      min-width: 16px;
      color: var(--white);
      font-weight: 700;
      text-align: center;
    }
  }

  .der {
    height: calc(100% - 140px);
    overflow-y: auto;
  }

  div.totals {
    position: absolute;
    bottom: 80px;
    left: 0;
    right: 0;
    height: 45px;
    background: var(--white);
    border-bottom: 1px solid var(--white);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    div.subtotal,
    div.shipping,
    div.tax {
      padding: 15px;
      text-align: center;
      color: var(--white);
      border-bottom: 1px solid var(--white);
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 14px;
      font-weight: 400;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;

      span.amount,
      .total-price {
        color: var(--base-color);
        margin-left: 10px;
        font-weight: 700;
      }

      .total-price {
        margin: 0px;
      }

      span.label {
        color: var(--base-color);
        font-weight: 700;
      }
    }
  }

  div.action-buttons {
    padding: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 80px;
    background: var(--white);
    display: block;
    white-space: nowrap;

    a.view-cart-button,
    a.checkout-button {
      display: inline-block;
      padding: 10px;
      margin: 20px 15px;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 14px;
      border-width: 1px;
      border-style: solid;
      border-radius: 4px;
      transition: all 0.5s linear;
    }

    a.view-cart-button {
      background: var(--black);
      border-color: var(--secondary-color);
      margin-right: 5px;
      color: var(--secondary-color);
      width: 80px;
    }

    a.checkout-button {
      border-color: var(--secondary-color);
      background: var(--black);
      margin-left: 5px;
      color: var(--white);
      width: 200px;
    }
  }
}

.sidebar-cart-active {
  transform: translateX(0px);
}

.cart-backdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(22, 22, 22, 0.5921568627);
  z-index: 9999;
  transform: translateX(-100%);
  transition: var(--transition);
}

.cart-backdrop-active {
  transform: translateX(0px);
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVBAMAAABbObilAAAAMFBMVEVMaXH////////////////////////////////////////////////////////////6w4mEAAAAD3RSTlMAlAX+BKLcA5+b6hJ7foD4ZP1OAAAAkUlEQVR4XkWPoQ3CUBQAL4SktoKAbCUjgAKLJZ2ABYosngTJCHSD6joUI6BZgqSoB/+Shqde7sS9x3OGk81fdO+texMtRVTia+TsQtHEUJLdohJfgNNPJHyEJPZTsWLoxShqsWITazEwqePAn69Sw2TUxk1+euPis3EwaXy8RMHSZBIlRcKKnC5hRctjMf57/wJbBlAIs9k1BAAAAABJRU5ErkJggg==),
    progress;
}

// search popup styles start
.search-popup {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  z-index: 99999;
  margin-top: -540px;
  transform: translateY(-100%);
  background-color: rgba(0, 0, 0, 0.9);
  transition: all 1500ms cubic-bezier(0.86, 0, 0.07, 1);
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);

  form {
    position: absolute;
    max-width: 700px;
    top: 50%;
    left: 15px;
    right: 15px;
    margin: -35px auto 0;
    transform: scaleX(0);
    transform-origin: center;
    background-color: #111111;
    transition: all 300ms ease;
  }

  .search-popup__group {
    position: relative;
    margin: 0px;
    overflow: hidden;

    input {
      position: relative;
      display: block;
      font-size: 18px;
      line-height: 50px;
      color: var(--black);
      height: 70px;
      width: 100%;
      padding: 10px 30px;
      background-color: var(--white);
      transition: all 500ms ease;
      font-weight: 400;
      text-transform: capitalize;
      padding-right: 80px;
    }
  }

  button {
    position: absolute;
    right: 30px;
    top: 0px;
    height: 70px;
    line-height: 70px;
    background: transparent;
    text-align: center;
    font-size: 24px;
    color: var(--white);
    padding: 0;
    cursor: pointer;
    transition: all 500ms ease;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .close-search {
    position: absolute;
    left: 0;
    right: 0;
    top: 75%;
    margin: 0 auto;
    margin-top: -200px;
    border-radius: 50%;
    text-align: center;
    background-color: var(--base-color);
    width: 70px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    border-bottom: 3px solid var(--white);
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
    span {
      position: relative;
      display: block;
      height: 70px;
      width: 70px;
      font-size: 20px;
      line-height: 70px;
      color: var(--white);
    }
  }
}

.sidenav-bar-visible .search-popup {
  width: 80%;
}

.search-active .search-popup {
  transform: translateY(0%);
  margin-top: 0;
  form {
    transform: scaleX(1);
    transition-delay: 1200ms;
  }
  .close-search {
    visibility: visible;
    opacity: 1;
    top: 50%;
    transition-delay: 1500ms;
  }
}

// off canvas
.off-canvas {
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0px;
  width: 100%;
  max-width: 360px;
  height: 100vh;
  min-height: 100vh;
  background-color: var(--white);
  z-index: 999999;
  box-shadow: var(--shadow);
  border-right: 5px solid var(--base-color);
  transition: var(--transition);
  transform: translateX(-100%);

  .off-canvas__inner {
    width: 100%;
    height: 100%;
    padding: 40px 20px;
    display: flex;
    align-items: center;
    gap: 40px;
    flex-direction: column;
  }

  .off-canvas__head {
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: space-between;
    width: 100%;

    button {
      background-color: transparent;
      font-size: 24px;
      color: var(--base-color);
    }
  }

  .offcanvas__search {
    width: 100%;
    form {
      display: flex;
      align-items: center;
      gap: 24px;
      justify-content: space-between;
      border-bottom: 1px solid var(--black);

      input {
        flex-grow: 1;
        padding: 10px 0px;
        color: var(--black);
        &::placeholder {
          font-weight: 400;
          color: var(--black);
          font-size: 16px;
        }
      }

      button {
        background-color: transparent;
        font-size: 20px;
        color: var(--base-color);
      }
    }
  }

  .off-canvas__contact {
    width: 100%;
    text-align: start;

    h5 {
      color: var(--black);
      text-transform: uppercase;
      font-weight: 600;
      margin-bottom: 25px;
    }

    .single {
      display: flex;
      align-items: center;
      gap: 16px;
      margin-bottom: 15px;
      span {
        @include box(40px);
        border: 1px solid var(--primary-color);
        color: var(--base-color);
      }

      a {
        color: var(--black);
        &:hover {
          color: var(--base-color);
        }
      }
    }
  }

  .social {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-start;
    gap: 16px;
    a {
      @include box(40px);
      background-color: var(--black);
      color: var(--white);
      font-size: 14px;
      &:hover {
        background-color: var(--base-color);
      }
    }
  }
}

.off-canvas-active {
  transform: translateX(0px);
}

.off-canvas-backdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(22, 22, 22, 0.5921568627);
  z-index: 99;
  transform: translateX(-100%);
  transition: var(--transition);
}

.off-canvas-backdrop-active {
  transform: translateX(0px);
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVBAMAAABbObilAAAAMFBMVEVMaXH////////////////////////////////////////////////////////////6w4mEAAAAD3RSTlMAlAX+BKLcA5+b6hJ7foD4ZP1OAAAAkUlEQVR4XkWPoQ3CUBQAL4SktoKAbCUjgAKLJZ2ABYosngTJCHSD6joUI6BZgqSoB/+Shqde7sS9x3OGk81fdO+texMtRVTia+TsQtHEUJLdohJfgNNPJHyEJPZTsWLoxShqsWITazEwqePAn69Sw2TUxk1+euPis3EwaXy8RMHSZBIlRcKKnC5hRctjMf57/wJbBlAIs9k1BAAAAABJRU5ErkJggg==),
    progress;
}

// animated circle
.animated-circle {
  position: absolute;
  bottom: 0px;
  left: 0px;
  @include box(90px);
  background-color: var(--white);
  opacity: 0.05;
  z-index: -1;
  animation: moveCircle 18s linear infinite alternate;
  &:nth-of-type(2) {
    @include box(30px);
    left: 50%;
    bottom: 20%;
    animation: moveCircleAlt 13.2s linear infinite alternate;
    animation-delay: 3s;
  }

  &:nth-of-type(3) {
    @include box(50px);
    left: 30%;
    bottom: 10%;
    opacity: 0.08;
    animation: moveCircleAlt 15.2s linear infinite alternate;
    animation-delay: 4s;
  }

  &:nth-of-type(4) {
    @include box(70px);
    left: 20%;
    bottom: 5%;
    opacity: 0.12;
    animation: moveCircleAlt 18.2s linear infinite alternate;
    animation-delay: 6s;
  }

  &:nth-of-type(5) {
    @include box(120px);
    left: 80%;
    bottom: 10%;
    opacity: 0.07;
    animation: moveCircleAlt 16.2s linear infinite alternate;
    animation-delay: 3s;
  }
  &:nth-of-type(6) {
    @include box(80px);
    left: 90%;
    bottom: 70%;
    opacity: 0.09;
    animation: moveCircle 15.2s linear infinite alternate;
    animation-delay: 13s;
  }

  &:nth-of-type(7) {
    @include box(60px);
    left: 60%;
    bottom: 17%;
    opacity: 0.1;
    animation: moveCircle 22.2s linear infinite alternate;
    animation-delay: 9s;
  }
  &:nth-of-type(8) {
    @include box(40px);
    left: 60%;
    bottom: 90%;
    opacity: 0.15;
    animation: moveCircle 12.2s linear infinite alternate;
    animation-delay: 3s;
  }
  &:nth-of-type(9) {
    @include box(100px);
    left: 80%;
    bottom: 60%;
    opacity: 0.12;
    animation: moveCircle 32.2s linear infinite alternate;
    animation-delay: 1s;
  }
  &:nth-of-type(10) {
    @include box(120px);
    left: 10%;
    bottom: 60%;
    opacity: 0.09;
    animation: moveCircle 38.2s linear infinite alternate;
    animation-delay: 1s;
  }
  &:nth-of-type(11) {
    @include box(130px);
    left: 10%;
    bottom: 20%;
    opacity: 0.07;
    animation: moveCircle 32.2s linear infinite alternate;
    animation-delay: 5s;
  }
}

@keyframes moveCircle {
  0% {
    transform: scale(1) translate(0%, 0%);
  }
  100% {
    transform: scale(1.6) translate(1000%, -100%);
  }
}

@keyframes moveCircleAlt {
  0% {
    transform: scale(1) translate(0%, 0%);
  }
  100% {
    transform: scale(1.6) translate(10%, -10%);
  }
}

.divider {
  margin: 40px 0px;
  background-color: #d9d9d9;
  height: 1px;
  width: 100%;
  border: 0px solid transparent !important;
  opacity: 1;
}

// title animation
.title-animation {
  text-transform: lowercase !important;
  & > div {
    & > div {
      &:nth-child(1) {
        text-transform: uppercase;
      }
    }
  }
}

// bubble animation
.bubble {
  position: absolute;
  border-radius: 50%;
  background: radial-gradient(
    66.94% 66.94% at 56.55% 28.57%,
    #000 0%,
    #020202 37%,
    #090909 51%,
    #141414 60%,
    #252525 68%,
    #3b3b3b 75%,
    #575757 80%,
    #777 86%,
    #9d9d9d 91%,
    #c8c8c8 95%,
    #f6f6f6 99%,
    #fff 100%
  );
  opacity: 0.13;
  animation: floatUp linear infinite;
}

@keyframes floatUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100vh);
  }
}

.bubble {
  animation-duration: calc(5s + 10s * random());
  animation-delay: calc(5s * random());
}

@function random() {
  @return random(1);
}

// video button
.video-btn-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
  .open-video-popup {
    width: 100px;
    height: 100px;
    background: var(--white);
    border-radius: 100%;
    position: relative;
    animation: pulse-shadow 3s calc(2 * 3s / 3) linear infinite;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    i {
      font-size: 30px;
      color: var(--base-color);
    }
    &::before,
    &::after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      background: var(--white);
      border-radius: 100%;
      z-index: -1;
    }
    &::after {
      animation: pulse 3s linear infinite;
    }
    &::before {
      animation: pulse 3s calc(3s / 3) linear infinite;
    }
  }

  @keyframes pulse {
    0% {
      transform: scale(1);
      opacity: 0.8;
    }

    100% {
      transform: scale(2);
      opacity: 0;
    }
  }

  @keyframes pulse-shadow {
    0% {
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.8);
    }

    100% {
      box-shadow: 0 0 0 calc((3 - 1) * 85px / 2) rgba(255, 255, 255, 0);
    }
  }
}

// section content
.section__content {
  span {
    font-size: 20px;
    font-weight: 700;
    color: var(--primary-color);
    margin-top: -8px;
  }

  h2 {
    color: var(--base-color);
    font-weight: 700;
    margin-top: 24px;
  }

  p {
    margin-top: 24px;
  }
}

.section__content--light {
  span {
    font-size: 20px;
    font-weight: 700;
    color: var(--primary-color);
    margin-top: -8px;
  }

  h2 {
    color: var(--white);
    font-weight: 700;
    margin-top: 24px;
  }

  p {
    color: var(--white);
    margin-top: 24px;
  }
}

// section header
.section__header {
  text-align: center;
  margin-bottom: 55px;
  span {
    margin-bottom: 12px;
    color: var(--primary-color);
    margin-top: -8px;
    font-size: 18px;
  }

  h2 {
    color: var(--base-color);
    font-weight: 700;
  }
}

.section__header--light {
  h2 {
    color: var(--white);
  }
}

.section-cta {
  margin-top: 55px;
}

// slider navigation
.slider-navigation {
  display: flex;
  align-items: center;
  gap: 12px;
  button {
    @include box(50px);
    background-color: var(--white);
    border: 1px solid var(--primary-color);
    font-size: 20px;
    color: var(--base-color);
    &:hover {
      background-color: var(--primary-color);
      color: var(--white);
    }
  }
}

// blog pagination
.blog-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  flex-wrap: wrap;
  margin-top: 60px;

  button,
  a {
    @include box(40px);
    border: 1px solid var(--black);
    border-radius: 0px;
    background-color: var(--white);
    color: var(--black);
    transition: var(--transition);

    &:hover {
      border-color: var(--base-color);
      color: var(--base-color);
    }
  }

  .active {
    border-color: var(--base-color);
    color: var(--base-color);
  }

  button {
    background-color: var(--base-color);
    color: var(--white);
    &:hover {
      background-color: var(--primary-color);
      color: var(--white);
    }
  }
}
/* ==== 
 --------- (2.03) global styles end ---------
 ==== */
