/* ==== 
 --------- (1.02) variables start ---------
 ==== */

:root {
  // font family
  --outift: "Outfit", sans-serif;

  // template default
  --template-font: var(--outift);
  --template-bg: #ffffff;
  --template-color: #666666;

  // colors
  --white: #ffffff;
  --black: #000000;
  --primary-color: #00c2ff;
  // --primary-color: #157ea1;
  --secondary-color: #ffb800;
  --tertiary-color: #020039;
  // --quaternary-color: #157ea1;
  --quaternary-color: #00c2ff;
  --quinary-color: #212121;

  // transitions
  --transition: all 0.5s ease;

  // box shadow
  --shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
  --shadow-secondary: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
}
/* ==== 
 --------- (1.02) variables end ---------
 ==== */
